
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/Web/images/about_banner.jpg" style="width:400px;height:250px;" alt="" />
            <p>sollemnes in futurum.</p>
        </div>
    </div>
</div>


